@use 'variaveis';

.event {
    padding: 80px 0;
    font-family: Roboto, sans-serif;

    &--introducao {
        background-image: linear-gradient(variaveis.$corDeFundo1, variaveis.$corDeFundo2);
    }

    &--mais-infos {
        background-image: linear-gradient(variaveis.$corDeFundo2, variaveis.$corDeFundo1);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        max-width: 300px;
    }

    &__details {
        
        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
            color: variaveis.$corTituloSecao;
        }

        &__description {
            line-height: 22px;
            color: variaveis.$corTexto;
        }
    }

    @media (max-width: 640px){
        .container {
            display: block;
            padding: 8px;
        }

        &__image {
            max-width: 100%;
            width: 90%;
            margin: 0 5%;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
            text-align: justify;

            &__title{
                text-align: center;
            }
        }

        &--mais-infos{
            padding-top: 5px;
        }
    }
}