@use 'variaveis';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/header5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
        font-family: "Montserrat Alternates", sans-serif;
    }

    &__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        font-style: italic;
        text-align: center;
        color: variaveis.$corTexto;
        
    }

    &__logo {
        margin: 0 auto;
        height: 150px;
        display: block;
        border-radius: 80px;
    }

    @media (max-width:640px) {
        padding: 40px 0;

        &__logo {
            height: 70px;
        }

        &__text {
            font-size: 22px;
            line-height: 25px;
            margin: 24px 0;
        }
    }

}