@use 'variaveis';

.infos-bar {
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
    background-color: variaveis.$corInfosBar;
    opacity: 0.9;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: variaveis.$corTexto;

            b {
                color: variaveis.$corTexto;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}