$corTexto: #fff;
$corTituloSecao: #080c01;
$corTexto2: #366387;
$corInfosBar: #000;
$corBordaBotao: #01615D;
$corFundoBotao: #17085D;
$corTextoBotao:#38c6c4;

$corDeFundo1: #1b2b05;
$corDeFundo2: #F5E9AD;