$corTexto: #fff;
$corTituloSecao: #080c01;
$corTexto2: #366387;
$corInfosBar: #000;
$corBordaBotao: #01615D;
$corFundoBotao: #2A42FF;
$corTextoBotao: #6ac71e;

$corDeFundo1: #D1C756;
$corDeFundo2: #17085D;