@use 'infos-bar';
@use 'hero';
@use 'button';
@use 'variaveis';
@use 'event';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px){
        max-width: 90%;
    }
}

.footer {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__text {
        color: variaveis.$corTexto;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
}